layout: index
description: 爱码学城 - 一个有趣的成长、分享、探索社区，小伙伴们一起加入吧.
subtitle: AimaCity - 有趣的成长、分享、探索社区
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title 成长
      p.intro-feature-desc 成长没有边界，没有什么不能改变，积极实践，刷新认知。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title 分享
      p.intro-feature-desc 有什么想法或者经验都可以说给大家听，不必人云亦云，知识的海洋有自己的航向。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title 探索
      p.intro-feature-desc 无论什么想法，试一试才知道，生活没有止境，探索未知的惊喜。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title 协作
      p.intro-feature-desc 一起讨论一些不着边际事情本来就很有趣，但是如果不小心搞出来点事情，不是很有趣？